<footer id="footer">
  <div class="container">
    <strong class="logo"><a href="#">JAXET</a></strong>
    <nav id="menu">
      <ul>
        <li><a href="#">SHIPPING & RETURNS</a></li>
        <li><a href="#">LEGAL AREA</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
      </ul>
    </nav>
    <div class="align-right">
      <em class="copyright">Copyright JAXET / Taryan Group 2021</em>
      <div class="social">
        <a href="#"><img src="images/youtube.svg" alt=""></a>
        <a href="#"><img src="images/instagram.svg" alt=""></a>
        <a href="#"><img src="images/xml.svg" alt=""></a>
      </div>
    </div>
  </div>
</footer>

<link defer rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

<script type="text/javascript" src="js/svg-sprites.js" defer></script>
<script type="text/javascript" defer>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('svg-icon-placeholder').innerHTML += SVG_SPRITES['sprite'];
  }, false);
</script>
<!-- Development -->
<script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<script src="js/jquery.main.js" defer></script>