<header id="header">
  <strong class="logo"><a href="/">JAXET</a></strong>
  <div class="align-left">
    <a href="#" class="icon-button">catalog</a>
    <div class="gender">
      <label>
        <input checked type="radio" name="gender" id=""><span><img src="images/male.svg" alt=""></span>
      </label>
      <label>
        <input type="radio" name="gender" id=""><span><img src="images/female.svg" alt=""></span>
      </label>
    </div>
  </div>
  <a data-fancybox="dialog" data-src="#dialog-content" data-right href="#" class="icon-button">Login page</a>
</header>