<header id="header">
  <strong class="logo"><a href="#">JAXET</a></strong>
  <div class="align-left">
    <a href="#" class="icon-button">catalog</a>
    <div class="gender">
      <a class="selected" href="#"><img src="images/male.svg" alt=""></a>
      <a data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom"><img src="images/female.svg" alt=""></a>
    </div>
  </div>
  <a data-fancybox="dialog" data-src="#dialog-content" data-right href="#" class="icon-button">Login page</a>
</header>