<header id="header">
  <div class="catalog">
    <div class="container">
      <a class="catalog-item selected" href="#">
        <div class="image"></div>
        <strong>Jacket MLJ01_BL</strong>
        <span>Black Jacket</span>
      </a>
      <a class="catalog-item" href="#">
        <div class="image"></div>
        <strong>Jacket MLJ01_WH<i>soon</i></strong>
        <span>White Jacket</span>
      </a>
      <a class="catalog-item" href="#">
        <div class="image"></div>
        <strong>Jacket MLJ01_CH<i>soon</i></strong>
        <span>Charcoal Jacket</span>
      </a>
      <a class="catalog-item" href="#">
        <div class="image"></div>
        <strong>Jacket MLJ02_BL<i>soon</i></strong>
        <span>Black Jacket</span>
      </a>
    </div>
  </div>
  <strong class="logo"><a href="/">JAXET</a></strong>
  <div class="align-left">
    <a id="catalogButton" href="#" class="icon-button">catalog</a>
    <div class="gender">
      <label>
        <input checked type="radio" name="gender" id=""><span><img src="images/male.svg" alt=""></span>
      </label>
      <label>
        <input type="radio" name="gender" id=""><span><img src="images/female.svg" alt=""></span>
      </label>
    </div>
  </div>
  <a data-fancybox data-src="#dialog-content" data-right href="#" class="icon-button">Login page</a>
</header>