html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  outline: none !important;
  box-sizing: border-box;
}

* {
  max-height: 1000000px;
}

body {
  letter-spacing: .02em;
  color: $base-text-color;
  overscroll-behavior-y: none;
  background: $base-background-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-y: scroll;
  &.landing-layout {
    background-color: white;
    &.has-scrollbar {
      &::-webkit-scrollbar-thumb {border-color: white;}
    }
  }
  &.has-scrollbar {
    scrollbar-face-color: $main;
    scrollbar-track-color: transparent;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 18px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $main;
      border-radius: 18px;
      min-height: 36px;
      border: 6px solid #181F22;
    }
  }
  &.subscribe-layout {
    background: $base-background-color url(../images/desktop.webp) no-repeat 50% 0 / cover;
  }
  &.empty-layout {
    min-width: 320px;
  }
  @include media('<tablet') {
    &.landing-layout, {
      min-width: 360px;
    }
    &.subscribe-layout {
      min-width: 360px;
      background-image: url(../images/mobile.webp);
    }
  }
  .mobile &.home-layout {
    background-position: 0 0;
    background-size: 1200px auto;
  }
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

svg {
  pointer-events: none;
  transition: fill $animation-speed ease;
}
