<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->

<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<header id="header">
			<div class="catalog">
				<div class="container">
					<a class="catalog-item selected" href="#">
						<div class="image"></div>
						<strong>Jacket MLJ01_BL</strong>
						<span>Black Jacket</span>
					</a>
					<a class="catalog-item" href="#">
						<div class="image"></div>
						<strong>Jacket MLJ01_WH<i>soon</i></strong>
						<span>White Jacket</span>
					</a>
					<a class="catalog-item" href="#">
						<div class="image"></div>
						<strong>Jacket MLJ01_CH<i>soon</i></strong>
						<span>Charcoal Jacket</span>
					</a>
					<a class="catalog-item" href="#">
						<div class="image"></div>
						<strong>Jacket MLJ02_BL<i>soon</i></strong>
						<span>Black Jacket</span>
					</a>
				</div>
			</div>
			<strong class="logo"><a href="#">JAXET</a></strong>
			<div class="align-left">
				<a id="catalogButton" href="#" class="icon-button">catalog</a>
				<div class="gender">
					<a class="selected" href="#"><img src="images/male.svg" alt=""></a>
					<a data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom"><img src="images/female.svg" alt=""></a>
				</div>
			</div>
			<a data-right href="#" class="icon-button">My account</a>
		</header>
		<main id="main" class="msg-layout">
			<div class="container">
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M40 8H8C5.8 8 4.02 9.8 4.02 12L4 36C4 38.2 5.8 40 8 40H24V36H8V16L24 26L40 16V26H44V12C44 9.8 42.2 8 40 8ZM24 22L8 12H40L24 22Z"
						fill="white" />
					<path
						d="M27.6001 36.9199L34.6801 43.9999L46.0001 32.6799L43.1401 29.8599L34.6601 38.3399L30.4201 34.0999L27.6001 36.9199Z"
						fill="#00D1FF" />
				</svg>
				<strong>Your email has been verified</strong>
				<a href="/" class="submit">to home page</a>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>

</html>