<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->

<body class="home-layout">
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<div id="promo">
			<form class="panel" action="#" method="post">
				<div class="container">
					<div data-title="Model" class="box">
						<strong class="title">Jacket MLJ01_BL</strong>
						<span class="price">$ 345.00</span>
					</div>
					<div class="align-right">
						<div data-title="Color" class="box">
							<div class="parameters color-style">
								<label>
									<input checked type="radio" name="color" id=""><span style="background-color: black;"></span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="color" id=""><span style="background-color: #4652A3;"></span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="color" id=""><span style="background-color: #575F4E;"></span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="color" id=""><span style="background-color: #A8BCBA;"></span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="color" id=""><span style="background-color: #838E8E;"></span>
								</label>
							</div>
						</div>
						<div data-title="Size" class="box">
							<div class="parameters">
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="size" id=""><span>S</span>
								</label>
								<label>
									<input checked type="radio" name="size" id=""><span>m</span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="size" id=""><span>l</span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="size" id=""><span>xl</span>
								</label>
								<label data-tippy-content="coming soon" data-tippy-arrow="false" data-tippy-placement="bottom">
									<input disabled type="radio" name="size" id=""><span>xXl</span>
								</label>
							</div>
						</div>
						<button type="submit" class="submit">add to shoping bag</button>
					</div>
				</div>
			</form>
		</div>
		<main id="main">
			<div class="container">
				<div class="grid">
					<div class="grid-item">
						<h2>Style</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
					<div class="grid-item">
						<h2>Composition</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
					</div>
					<div class="grid-item">
						<h2>Care</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
					</div>
				</div>
				<!-- <div class="grid half">
					<a data-fancybox="video" href="https://www.youtube.com/watch?v=z2X2HaTvkl8" class="grid-item card-style">
						<img class="preview" src="images/video.webp" alt="">
						<div class="bg" data-bg style="background-image: url(images/video.webp);"></div>
						<div class="play-icon"><img src="images/arrow.svg" alt=""></div>
						<div class="desc">
							<span>Jaxet Ambasador</span>
							<strong>Oleksandr Usyk</strong>
						</div>
					</a>
					<a data-fancybox="video" href="https://www.youtube.com/watch?v=z2X2HaTvkl8" class="grid-item card-style">
						<img class="preview" src="images/video.webp" alt="">
						<div class="bg" data-bg style="background-image: url(images/video.webp);"></div>
						<div class="play-icon"><img src="images/arrow.svg" alt=""></div>
						<div class="desc">
							<span>Jaxet Ambasador</span>
							<strong>Oleksandr Usyk</strong>
						</div>
					</a>
				</div> -->
			</div>
		</main>

		<!-- Dialog Contents -->
		<div id="dialog-content" class="dialog" style="display:none;max-width:480px;">
			<h3>Come on in</h3>
			<ul id="tabs" class="tabs">
				<li class="active"><a href="#login">Sign in</a></li>
				<li><a href="#reg">I'M NEW HERE</a></li>
			</ul>
			<form autocomplete="off" action="_inc/login.php" method="POST" id="login" class="tab display">
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="login_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">Error message</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="login_password" placeholder="Password" required>
					<label><span>Password</span></label>
					<span class="error">Error message</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<label class="controller">
					<input type="checkbox" name="keep" value="Keep me signed in">
					<span>Keep me signed in</span>
				</label>
				<button type="submit" class="submit">SIgn in</button>
				<div class="center"><a class="external-tab" href="#forgot">Forgot your password?</a></div>
			</form>
			<form autocomplete="off" action="_inc/data.php" method="POST" id="forgot" class="tab">
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="forgot_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">Error message</span>
				</div>
				<p class="input-note">Enter your details and we'll send you<br>a link to reset your password</p>
				<button type="submit" class="submit">reset password</button>
				<div class="center"><a class="external-tab" href="#login">Back To Sign In</a></div>
			</form>
			<form autocomplete="off" action="_inc/data.php" method="POST" id="reg" class="tab">
				<div class="grid small">
					<label class="controller">
						<input checked type="radio" name="gender_reg" value="Mr.">
						<span>Mr.</span>
					</label>
					<label class="controller">
						<input type="radio" name="gender_reg" value="Mrs. / Мs.">
						<span>Mrs. / Мs.</span>
					</label>
				</div>
				<div class="input">
					<input autocomplete="off" type="text" name="first_name" placeholder="First Name" required>
					<label><span>First Name</span></label>
					<span class="error">Error message</span>
				</div>
				<div class="input">
					<input autocomplete="off" type="text" name="last_name" placeholder="Last Name" required>
					<label><span>Last Name</span></label>
					<span class="error">Error message</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="reg_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">Error message</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="reg_password" placeholder="Password" required>
					<label><span>Password</span></label>
					<span class="error">Error message</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="confirm_password" placeholder="Confirm Password" required>
					<label><span>Confirm Password</span></label>
					<span class="error">Error message</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<label class="controller">
					<input type="checkbox" name="keep" value="Agree" required>
					<span>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
				</label>
				<button type="submit" class="submit">Register</button>
				<div class="msg-success">
					<div class="middle">
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M6 12L22 22L38 12V18H42V8C42 5.8 40.2 4 38 4H6C3.8 4 2.02 5.8 2.02 8L2 32C2 34.2 3.8 36 6 36H14V32H6V12ZM38 8L22 18L6 8H38Z"
								fill="#181F22" />
							<path
								d="M28 24H32V28H28C25.7908 28 24 29.7909 24 32C24 34.2091 25.7908 36 28 36H32V40H28C23.5817 40 20 36.4183 20 32C20 27.5817 23.5817 24 28 24Z"
								fill="#00D1FF" />
							<path
								d="M40 36H36V40H40C44.4183 40 48 36.4183 48 32C48 27.5817 44.4183 24 40 24H36V28H40C42.2092 28 44 29.7909 44 32C44 34.2091 42.2092 36 40 36Z"
								fill="#00D1FF" />
							<path d="M39 30H29V34H39V30Z" fill="#00D1FF" />
						</svg>
						<strong class="title">A link to confirm it has been sent to your email address.</strong>
						<p>Sometimes emails end up in spam ;)</p>
					</div>
				</div>
			</form>
		</div>

		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>

</html>