<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->

<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<h1>Legal Area</h1>
				<div id="accordion" class="content-style number-type">
					<div class="accordion-item default display">
						<div class="accordion-header">
							<strong>KEY TERMS & CONCEPTS</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>Website Visitor - a person who came to the website <a href="jaxet.com">jaxet.com</a> without to place an order.</p>
								<p>User - an individual visitor of the Website who accepts the terms and conditions of the User Agreement and wishes to place Orders online <a href="jaxet.com">jaxet.com</a>.</p>
								<p>Buyer - User who placed an Order on <a href="jaxet.com">jaxet.com</a> in order to purchase goods for personal needs.</p>
								<p>Seller - KAGRAMANIAN MIGRAN  a private entrepreneur, under the current legislation of Ukraine.The Seller is not a VAT payer in Ukraine. Sale of goods is carried out from the Seller's warehouses.</p>
								<p>Site - <a href="jaxet.com">jaxet.com</a></p>
								<p>Goods - clothes, accessories and other goods to sell on the Seller's Website.</p>
								<p>Order - a correctly executed request of the Buyer for purchase and delivery of Goods chosen on the Seller's Website to the address specified by the Buyer.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>SUBJECT OF AGREEMENT</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>A seller sells online at <a href="jaxet.com">jaxet.com</a>.</p>
								<p>By ordering Goods through the Website, the User agrees to the terms and conditions of sale of Goods set out below (hereinafter - the Terms and Conditions of Sale of Goods). In case of disagreement the User shall immediately stop using the Service and leave the website <a href="jaxet.com">jaxet.com</a>.</p>
								<p>These terms for sale of goods, as well as information about the Goods presented on the Website, are a public offer in accordance with Art. 633 of the Civil Code of Ukraine.</p>
								<p>These terms and conditions can be changed by the Seller unilaterally without notification of the User/Buyer. The new version of the Terms comes into force from the moment of its publication on the Website, unless otherwise provided.</p>
								<p>The Agreement enters into force from the moment the Seller sends the electronic confirmation of Order acceptance to the Buyer when the Buyer places an Order on the website  <a href="jaxet.com">jaxet.com</a>.</p>
								<p class="default">The Agreement for purchase and sale of Goods shall be deemed concluded from the moment the Seller issues a settlement document to the Buyer confirming payment for Goods or crediting of funds to the Seller's bank account.</p>
								<p class="default">By informing the Seller e-mail and telephone number, the Website Visitor/User/ Buyer gives his/her consent to the use of the said means of communication by the Seller, as well as by third parties engaged by the Seller for the purposes of fulfillment of obligations to the Website Visitors/User/ Buyer, for the purposes of advertising and information mailing, containing information on discounts, forthcoming and current promotions and other Seller's activities, for the purpose of delivery of goods, as well as other information directly related to fulfillment of obligations.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>GOODS AND ORDER</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>The Seller makes it possible to supply the Goods presented on the Website. The photographs accompanying the Product are simple illustrations of the Product and may differ from the actual appearance of the Product. The descriptions/characteristics accompanying the Product do not claim to be exhaustive and may contain misprints. For specification of the information on the Goods the Buyer should address by e-mail having written the letter on <a href="mailto:hello@jaxet.com">hello@jaxet.com</a>.</p>
								<p>In case of absence of the Goods ordered by the Buyer at the Seller's warehouse, the latter has the right to exclude the specified Goods from the Order / cancel the Order of the Buyer, having notified the Buyer about it by sending the corresponding electronic message to the address specified by the Buyer.</p>
								<p>The Buyer is fully responsible for the provision of incorrect information, resulting in the Seller's inability to properly perform its obligations to the Buyer.</p>
								<p>After making an Order online at  <a href="jaxet.com">jaxet.com</a>, the Buyer is provided with information about the expected delivery date by sending an e-mail to the e-mail address specified by the Buyer. The manager, who serves this Order, clarifies details of the Order, agrees on the delivery date, which depends on the availability of the ordered Goods at the Seller's warehouse and the time required for processing and delivery of the Order.</p>
								<p>The expected delivery date is notified to the Buyer by the manager serving the Order by e-mail or by means of a control call to the Buyer.</p>
								<p class="default">The date of delivery of the Goods may be changed unilaterally by the Seller if there are objective reasons, in the opinion of the Seller.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>ORDER DELIVERY</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>The Goods shall be delivered by postal operator in the form of a postal delivery with payment on the payment page of the Website or electronic invoice for the Goods by bank card or bank transfer. Methods of delivery: Special delivery Nova Poshta in Ukraine. Delivery outside of Ukraine is carried out by DHL courier services or others at the discretion of the Seller. Specific terms of delivery may be agreed between the Buyer and the manager when confirming the Order.</p>
								<p>The territory goods delivery is online and does not limit the territory of Ukraine.</p>
								<p>Delays in delivery are possible due to unforeseen circumstances, which occurred through no fault of the Seller.</p>
								<p>Upon delivery, the Order is handed over to the Buyer or a third party specified in the Order as the Recipient (hereinafter referred to as the Buyer and the third party as the "Recipient"). If it is impossible to receive the Order paid by cash payment by the above mentioned persons, the Order may be handed over to the person who can provide information about the Order (number of the shipment and/or Name of recipient), as well as pay the full price of the Order to the person who delivers the Order.</p>
								<p>The risk of accidental death or damage to the Goods shall pass to the Buyer from the moment the Order is handed over to him/her and the Recipient of the Order signs the documents confirming the delivery of the Order.</p>
								<p>The cost of delivery of each Order is paid by the Buyer, except when it is mentioned separately on the website in the section "Delivery and Return".</p>
								<p>The Seller's obligation to hand over the goods to the Buyer is considered to be performed at the moment the Buyer receives the shipment as this moment is determined in accordance with the current rules of postal communication.</p>
								<p class="default">The procedure of delivery and disclosure of consignments containing the goods shall be determined in accordance with the applicable postal rules.</p>
								<p>When accepting an Order from the courier, the Recipient shall inspect the delivered Goods and check their compliance with the declared quality, assortment and completeness of the Goods, as well as check the service life of the delivered Goods and the integrity of packaging. In case there are no claims to the delivered Goods, the Recipient shall sign in the "Order delivery form" and pay for the Order. The signature on the delivery documents indicates that the Recipient has no claims to the Goods and the Seller has fully and properly fulfilled its obligation to deliver the Goods.</p>
								<p>The date, time and, if necessary, delivery route can be specified by a manager who contacts the Buyer to confirm the Order.</p>
								<p>The User understands and agrees that:</p>
								<p class="default">delivery - a separate service which is not an integral part of the Goods purchased by the Buyer and which ends when the Recipient receives the Goods and makes payment for them. Claims to the quality of the purchased Goods, arising after receipt and payment for the Goods, shall be considered based on Law of Ukraine "Consumer Rights Protection" and the Seller's warranty obligations. In this connection, the purchase of the Goods with delivery does not give the Buyer the right to demand the delivery of the purchased Goods for the purpose of warranty service or replacement, does not give the Buyer the possibility to carry out warranty service or replacement of the Goods by way of departure to the Buyer and does not imply the possibility to return the cost of delivery of the Goods in cases when the Buyer has the right to return the money for the Goods according to the Law of Ukraine "Consumer Rights Protection"</p>
								<p class="default">All goods purchased by the Buyer online and shipped outside Ukraine may be subject to import taxes, duties, VAT and import restrictions in the country of receipt specified by the Buyer, payment for which is the personal responsibility of the Buyer and their size can not be fully or partially compensated by the Seller or calculated in advance online.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>PAYMENT FOR GOODS</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>The Goods price in dollars, euros and hryvnias and shall not include value added tax. The amount of the order consists of the value of the ordered goods.</p>
								<p>The Goods price is online at  <a href="jaxet.com">jaxet.com</a>. In case Goods ordered wrong price by the Buyer, the Seller informs the Buyer about it to confirm the Order at the corrected price or to cancel the Order. If it is impossible to contact the Buyer, this Order will be considered cancelled.</p>
								<p>The Goods price may be changed by the Seller unilaterally. The price of the Goods ordered by the Buyer may not be changed.</p>
								<p>The payment shall be made: In case of implementation of the Order and its subsequent sending on the territory of Ukraine - in hryvnias by cashless monetary funds before sending the Order in the amount corresponding to the amount of the Order taking into account discounts.</p>
								<p>The Seller is entitled to grant discounts on Goods and to establish a bonus program. Types of discounts, bonuses, procedure and terms of accrual are online and can be unilaterally changed by the Seller.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>GOODS AND MONEY RETURN</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>The Buyer has the right to refuse the received Goods and terminate the Purchase and Sale Agreement within 14 calendar days from the day of receipt of the Goods, excluding the day of purchase, except for the Goods that are not subject to exchange and return based on the Resolution of the Cabinet of Ministers of Ukraine N172 dd. 19.03.1994 "On Amending Certain Legislative Acts  as amended and supplemented "Consumer Rights Protection". For details refer to website menu section Shipping & Return.</p>
								<p>Returned goods, with all seals, labels should be sent by the Buyer by mail to the following address: Kyiv, Staronavodnytska street. 13B, or at the address specified by the manager.</p>
								<p>Goods Return is proper quality</p>
								<div class="inside">
									<p>Goods Return is made possible if the Goods have not been used, their appearance, consumer properties, seals, labels have been preserved, and the settlement document issued to the Buyer together with the sold Goods has been preserved.</p>
									<p>If the Buyer refuses the Goods that have already been sent to the Buyer, the Seller shall return the cost of the returned Goods to the Buyer, except for the fine for refusal of Goods, which is determined individually by the Seller for each Order sent outside Ukraine, within 30 days from the date of receipt of the returned Goods at the Seller's warehouse together with the application for return filled by the Buyer. The cost of return delivery of the Goods in case of return is paid by the Buyer. The refund of the cost of the Goods shall be made exclusively to the person specified in the Order for the Goods. If the Buyer has specified incorrect data in the Order, the Seller reserves the right to refuse such Buyer in refund.</p>
									<p> If at the Buyer's request similar goods are not on sale with the Seller, the Buyer has the right to refuse to execute this Agreement and demand refund of the sum of money paid for the specified Goods. The Seller shall refund the amount of money paid for the returned Goods within 30 days of Goods return.</p>
									<p>The fine for refusal in p.5.3.2 is total costs incurred by the Seller in the event of the Buyer's refusal to receive his order, namely: round trip delivery costs, including costs of delivery of the exchanged goods, costs of customs clearance of the goods (including import duties, VAT, brokerage services, etc.) and any other costs incurred by the Seller in connection with such return..</p>
									<p>If the Buyer returns goods of proper quality, but upon receipt by the Seller it is found that the goods are not subject to return for any reasons based on the Resolution of the Cabinet of Ministers of Ukraine N172 dd. 19.03.1994 "On Amending Certain Legislative Acts "Consumer Rights Protection" or  any reasons specified in these Rules, this product is returned to the Buyer at his expense.</p>
									<p>In case of delivery of goods by international delivery services such as DHL and others, delivery is carried out to the Buyer's door. Confirmation of receipt of the goods is the signature on receipt of the parcel by the Buyer or other person located at this address (in accordance with the rules of transportation of the relevant courier and postal delivery services). Also, the goods shall be deemed delivered to the Buyer if the Buyer has instructed the representatives of the above mentioned delivery services to leave the parcel at the door without the presence of the Buyer. In this case, the risk of not receiving the parcel falls entirely on the Buyer.</p>
								</div>
								<p>Goods Return of Improper Quality:</p>
								<div class="inside">
									<p>Improper quality of product - a good that is defective and unable to perform its functional qualities. The received Goods shall comply with the description on the Website or in an e-mail. Differences in design or design elements from those stated in the description online/email are not an indication of the Product's nonquality or functionality.</p>
									<p>The appearance and completeness of the Goods as well as the completeness of the whole Order shall be checked by the Recipient at the moment of delivery of the Goods. At the moment of receiving the Order the Buyer shall confirm that the Goods are free from visible defects, scratches or any other injuries. And that the goods are fully fit for their intended use.</p>
									<p>Upon receipt of the Order no claims shall be accepted against external defects of the goods, their quantity, completeness and trade dress.</p>
									<p>If the Goods of improper quality have been transferred to the Buyer, and the Seller has not agreed otherwise in advance, the Buyer may return the Goods. The return of such goods shall be made upon delivery at the Buyer's expense.</p>
									<p>Claims for refund paid of goods are subject to satisfaction within 30 days from the date of submission of the relevant claim.</p>
								</div>
								<p> The refund shall be made by refund of the value of the paid Goods to the bank card by which the payment was made or by bank transfer, depending on how the payment for the Goods was made.</p>
								<p>The Goods warranty shall be set by the manufacturer and indicated on the label or label. The Seller shall ensure that the Goods are properly applied and used within the warranty period.</p>
								<p class="default">The Seller is not responsible for defects in the Goods if they occurred after its transfer to the Buyer due to the Buyer's violation of the rules use/goods storage, actions of third parties/force majeure.</p>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<div class="accordion-header">
							<strong>RESPONSIBILITY</strong>
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8.71005 11.71L11.3001 14.3C11.6901 14.69 12.3201 14.69 12.7101 14.3L15.3001 11.71C15.9301 11.08 15.4801 10 14.5901 10H9.41005C8.52005 10 8.08005 11.08 8.71005 11.71Z"
									fill="#00D1FF" />
							</svg>
						</div>
						<div class="accordion-exp">
							<div class="accordion-holder">
								<p>The Seller is not liable for damages caused to the Buyer as a result of improper use of the Goods purchased through the Website.</p>
								<p>The Seller is not responsible for the content and functioning of external resources.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Dialog Contents -->
		<div id="dialog-content" class="dialog" style="display:none;max-width:480px;">
			<h3>Come on in</h3>
			<ul id="tabs" class="tabs">
				<li class="active"><a href="#login">Sign in</a></li>
				<li><a href="#reg">I'M NEW HERE</a></li>
			</ul>
			<form autocomplete="off" action="_inc/login.php" method="POST" id="login" class="tab display">
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="login_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">This field is required</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="login_password" placeholder="Password" required>
					<label><span>Password</span></label>
					<span class="error">This field is required</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<label class="controller">
					<input type="checkbox" name="keep" value="Keep me signed in">
					<span>Keep me signed in</span>
				</label>
				<button type="submit" class="submit">SIgn in</button>
				<div class="center"><a class="external-tab" href="#forgot">Forgot your password?</a></div>
			</form>
			<form autocomplete="off" action="_inc/data.php" method="POST" id="forgot" class="tab">
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="forgot_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">This field is required</span>
				</div>
				<p class="input-note">Enter your details and we'll send you<br>a link to reset your password</p>
				<button type="submit" class="submit">reset password</button>
				<div class="center"><a class="external-tab" href="#login">Back To Sign In</a></div>
			</form>
			<form autocomplete="off" action="_inc/data.php" method="POST" id="reg" class="tab">
				<div class="grid small">
					<label class="controller">
						<input checked type="radio" name="gender_reg" value="Mr.">
						<span>Mr.</span>
					</label>
					<label class="controller">
						<input type="radio" name="gender_reg" value="Mrs. / Мs.">
						<span>Mrs. / Мs.</span>
					</label>
				</div>
				<div class="input">
					<input autocomplete="off" type="text" name="first_name" placeholder="First Name" required>
					<label><span>First Name</span></label>
					<span class="error">This field is required</span>
				</div>
				<div class="input">
					<input autocomplete="off" type="text" name="last_name" placeholder="Last Name" required>
					<label><span>Last Name</span></label>
					<span class="error">This field is required</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" type="email" name="reg_email" placeholder="Email" required>
					<label><span>email adresses</span></label>
					<span class="error">This field is required</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="reg_password" placeholder="Password" id="password" required>
					<label><span>Password</span></label>
					<span class="error">This field is required</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<div class="input">
					<input autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" name="confirm_password" placeholder="Confirm Password" id="confirm-password" required>
					<label><span>Confirm Password</span></label>
					<span class="error">This field is required</span>
					<span class="toggle-password">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
								fill="#999999" />
						</svg>
					</span>
				</div>
				<label class="controller">
					<input type="checkbox" name="keep" value="Agree" required>
					<span>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></span>
				</label>
				<button type="submit" class="submit">Register</button>
				<div class="msg-success">
					<div class="middle">
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M6 12L22 22L38 12V18H42V8C42 5.8 40.2 4 38 4H6C3.8 4 2.02 5.8 2.02 8L2 32C2 34.2 3.8 36 6 36H14V32H6V12ZM38 8L22 18L6 8H38Z"
								fill="#181F22" />
							<path
								d="M28 24H32V28H28C25.7908 28 24 29.7909 24 32C24 34.2091 25.7908 36 28 36H32V40H28C23.5817 40 20 36.4183 20 32C20 27.5817 23.5817 24 28 24Z"
								fill="#00D1FF" />
							<path
								d="M40 36H36V40H40C44.4183 40 48 36.4183 48 32C48 27.5817 44.4183 24 40 24H36V28H40C42.2092 28 44 29.7909 44 32C44 34.2091 42.2092 36 40 36Z"
								fill="#00D1FF" />
							<path d="M39 30H29V34H39V30Z" fill="#00D1FF" />
						</svg>
						<strong class="title">A link to confirm it has been sent to your email address.</strong>
						<p>Sometimes emails end up in spam ;)</p>
					</div>
				</div>
			</form>
		</div>
		
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>

</html>